HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

/iot-devices/Modulino-wifi-post-temp/settings.h
/iot-devices/DHT11-wifi-post-temp/settings.h
/backend-spring/.env
/frontend-react/.env
.env
/frontend-react/node_modules/
/node_modules/

#Logs

/frontend-react/logs
/frontend-react/*.log
/frontend-react/npm-debug.log*
/frontend-react/yarn-debug.log*
/frontend-react/yarn-error.log*
/frontend-react/pnpm-debug.log*
/frontend-react/lerna-debug.log*

/frontend-react/dist
/frontend-react/dist-ssr
/frontend-react/*.local


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
